:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --branding-color: #58915d;
}

body,
navbar {
  background-color: #efe0d29d;
}

h1 {
  font-family: var(--heading-font);

  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #fff;
}

h3 {
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;
}

h4 {
  color: #0d1b14;
}

p {
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 600;
}

footer {
  background-color: #58915de0;
  padding: 10px;
}

.logo {
  color: var(--branding-color);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  border: 0px;
}

.hero {
  height: auto;
  max-width: auto;
  background-image: url(/images/header-photo.jpeg);
  background-size: cover;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero h3 {
  font-size: 16px;
}

.container {
  margin: 50px auto;
}

.homepage-grid {
  padding: 20px 30px;
}

.green-plants {
  max-width: 100%;
}

.icon {
  max-width: 40px;
}
