h1 {
  font-family: "Playfair Display", serif;

  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #fff;
}

h3 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  color: #708c4c;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  border: 0px;
}

.hero {
  height: auto;
  max-width: auto;
  opacity: 0.9;
  background-image: url(/images/header-photo.jpeg);
  background-size: cover;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero h3 {
  font-size: 16px;
}
