:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

h1 {
  font-family: var(--heading-font);

  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #fff;
}

h3 {
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;
}

p {
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.logo {
  color: #708c4c;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  border: 0px;
}

.hero {
  height: auto;
  max-width: auto;

  background-image: url(/images/header-photo.jpeg);
  background-size: cover;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero h3 {
  font-size: 16px;
}

.homepage-grid {
  padding: 20px 50px;
}

.green-plants {
  max-width: 100%;
}
